* {
    margin: 0;
    padding: 0;
}

.basardoise {
    width: 90%;
    margin: auto;
    padding: auto;
}

.basardoise1 {
    width: 90%;
    margin: auto;
    padding: auto;
    padding-top: 20px;
}

.courssuiv {
    padding-left: 45%;
}

.courssuiv1 {
    padding-left: 45%;
}

.courssuiv2 {
    padding-left: 17%;
}

.courssuiv3 {
    padding-left: 40%;
}

.courssuiv4 {
    padding-left: 49%;
}

.courssuiv5 {
    padding-left: 22%;
}

.courssuiv6 {
    padding-left: 56%;
}

.courssuiv7 {
    padding-left: 54%;
}

.coursprec {
    padding-left: 15%;
}

.retourprehi {
    padding-left: 15%;
}

.retourmoyen {
    padding-left: 17%;
}

.retourhistoire {
    padding-left: 17%;
}

.retour1 {
    padding-left: 11%;
}

.retour2 {
    padding-left: 12%;
}

.retour3 {
    padding-left: 9%;
}
