*{
    margin: 0;
    padding: 0;
}

#plansite{
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    columns:2;
}
#titre_plan{
    text-align: center;
    font-size: 2.7em;
    text-decoration: underline;
    color:RGB(57,91,142);
    text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;

}

.niv1{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    color:RGB(48,81,130);
    margin-bottom: 40px;
    padding-left: 3%;
}

.niv1:hover{
    color:RGB(251,111,107);
}

.niv2{
    font-size: 22px;
    text-transform: uppercase;
    list-style-type: none;
    margin-bottom: 30px;
    padding-left: 8%;
    color:RGB(41,113,171);
}

.niv2:hover{
    color:RGB(251,111,107);
}
.niv3{
    font-size: 20px;
    font-variant: small-caps;
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 15px;
    padding-left: 15%;
    color: RGB(51,166,214);
}

.niv3:hover{
    color:RGB(251,111,107);
}
.niv4{
    font-size: 18px;
    list-style-type: none;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 23%;
    color:RGB(58,195,252);
}

.niv4:hover{
    color:RGB(251,111,107);
}
.niv5{
    font-size: 16px;
    font-style: italic;
    list-style-type: none;
    padding-left: 32%;
    color:RGB(58,201,252);
}

.niv5:hover{
    color:RGB(251,111,107);
}

.survol{
    text-decoration: none;
}